<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
Cookie.

<div id="everything">
<div id="area">
<ng-container *ngFor="let seg of segments">
    <div id="rectangle" [style.top]="seg.yPos" [style.left]="seg.xPos">{{seg.id}}</div>
    <!--<span class="badge">{{seg._id}}</span> {{seg.xPos}} - {{seg.yPos}}-->
</ng-container>

<div id="pc_dot" [style.top]="pc.yPos" [style.left]="pc.xPos"></div>
</div>
</div>
