<!--The content below is only a placeholder and can be replaced.-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
Cookie.

<div id="everything">
<div id="area">
<ng-container *ngFor="let seg of segments">
    <div id="rectangle" [style.top]="seg.yPos" [style.left]="seg.xPos">{{seg.id}}</div>
    <!--<span class="badge">{{seg._id}}</span> {{seg.xPos}} - {{seg.yPos}}-->
</ng-container>

<div id="pc_dot" [style.top]="pc.yPos" [style.left]="pc.xPos"></div>
</div>
</div>
